<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gholemhub.shakelab">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShakeLab">
        <activity android:name="com.gholemhub.shakelab.IntroActivity">

        </activity>
        <activity android:name="com.gholemhub.shakelab.Profile" />
        <activity android:name="com.gholemhub.shakelab.Create" />
        <activity android:name="com.gholemhub.shakelab.Search" />
        <activity android:name="com.gholemhub.shakelab.HomeActivity" />
        <activity android:name="com.gholemhub.shakelab.RegiterActivity" />

        <activity
            android:name="com.gholemhub.shakelab.MainActivity"
            android:theme="@style/Theme.ShakeLab.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>